---
layout: default
title: GitLab for education
description: "We want students to use our most advanced features, so they can take that experience to their future workplaces. Learn more here!"
canonical_path: "/solutions/education/"
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
  - styles-2018.css
  - webcast.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab for Education
        %h2.page-subtitle Our top tiers are free for education

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p At GitLab, we believe that <b>every student can contribute</b>! The GitLab for Education Program provides the top tiers of GitLab (Gold or Ultimate) for free to qualifying educational institutions around the globe. 

            %h3 Additional information
            %ul
              %li In order to qualify, educational institutions must be accredited and non-profit. (<a href="/handbook/marketing/community-relations/education-program/#gitlab-for-education-program-requirements" target="_blank">see more details</a>)
              %li The GitLab Education license can only be used for <b>instructional-use</b> or <b>non-commercial academic research</b>. IT professional use and/or use for institutional administration is not permitted under the educational license.  
              %li Only faculty or staff employed full-time at an educational institution can apply. We are not able to issue licenses to students directly. 
              %li Applicants must apply with the email domain of their representative institution. Please do not use personal email domains. 
              %li The license is renewed annually. 
              %li The number of seats and type of license (Gold or Ultimate) can be changed at the time of renewal or upon request.
              %li Support is not included with the educational license but it is available to education program members at a discount for $4.95 per seat per month (95% off list price).
              %li 50k CI runner minutes are included with the subscription. (<a href="https://docs.gitlab.com/ee/subscriptions/#purchasing-additional-ci-minutes" target="_blank">Additional minutes must be purchased</a>).  
              %li If you have any additional questions regarding this program, feel free to reach us at <a href="mailto:education@gitlab.com" target="_blank">education@gitlab.com</a>.

            %h3 Application process
            %ul
              %li Fill out the application form. Please provide the most accurate and complete information as possible when filling out the form including a complete billing address with street number, street name, and zipcode. 
              %li Please indicate <b>how</b> the license will be used in the <b>Educational Use Case</b> field (<a href="/handbook/marketing/community-relations/education-program/#gitlab-for-education-program-requirements" target="_blank">see our definitions</a>). Please include any additional details on how the license will be used in the <b>Educational Use Case Notes</b> field. This information will help us determine if the application will be accepted. 
              %li Allow 5 business days for turn-around time. 
              %li Upon acceptance, applicants will receive a quote via email with our (<a href="/terms/#edu-oss" target="_blank">End User Liscense Agreement</a>) to be signed by an authorized institutional representative. 
              %li Return the signed quote to us. 
              %li Receive the license key (for Ultimate via our (<a href="https://customers.gitlab.com" target="_blank">Customer Portal</a>)) or GitLab Group authentication instructions (for Gold via email).

            %h3 Renewal process
            %ul
              %li Please reach out to us via <a href="mailto:education@gitlab.com" target="_blank">education@gitlab.com</a> approximately one month before your license expires.
              %li Provide the number of seats needed for the renewal and any other changes to your account such as type of license or primary contact. 
              %li Provide details on the use case for the educational license. 
              %li Please allow 5 business days for turn-around time. 


        .col-md-4.col-md-offset-1
          %h3.margin-top0 Application form

          .centered-form
            %script{ src: "//page.gitlab.com/js/forms2/js/forms2.min.js" }
            %form#mktoForm_1659
            :javascript
              MktoForms2.setOptions(
              {
                formXDPath : "/rs/194-VVC-221/images/marketo-xdframe-relative.html"
              });
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1659, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          %h3 Submission received!
          %p We will be in touch soon.


  #education-q-a.content-container.animated
    .container
      %h2#FAQ.faq-title.light.text-center
        %a{ href: '#FAQ' } Frequently Asked Questions
      .faq-holder.clearfix
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Does research qualify for the Education license?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p 
                  Yes, research qualifies if the educational institution qualifies and the research is non-commercial academic research. Please see our <a href="/handbook/marketing/community-relations/education-program/#gitlab-for-education-program-requirements"> program requirements</a> for more details. 
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Why doesn't GitLab provided licenses for free directly to students?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Our GitLab Education Program offering is intended to be issued directly to the institution (enterprise-level) rather than individuals. We offer an unlimited number of seats and top-tier licenses so that all students at an institution can access the best GitLab has to offer. We understand that individual students may wish to have a GitLab license but at this time, we do not have the logistics in place to grant individuals licenses. We encourage all students to find a faculty or staff sponsor and apply to the program.  Students should also check out our <a href="/pricing/#gitlab-com"> free subscription tier</a> for GitLab.com or a <a href="/pricing/#self-managed"> free download</a> of our core self-managed offering. You can also apply for a <a href="https://gitlab.com/-/trials/new)"> 30-day trial</a> if you’d like to try out some more advanced features.
          %li#edu-question-2.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can this license be used in the IT department for running IT services?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p  No, IT professional use or any administrative use for running the institution itself does not qualify. The GitLab Education license can only use for teaching or research purposes. Please <a href="/sales"> contact our sales team <a/> if you are interested in using GitLab for IT professional use. 
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Are modifications to the end user license agreement allowed?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p At this time, we are not able to accommodate modifications to our user agreement. Please email <a href="mailto:education@gitlab.com" target="_blank">education@gitlab.com</a>. if you have any additional questions. 
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Is it possible to increase the number of seats in the future?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you wish to increase the number of seats on your existing license, please send an email to education@gitlab.com, and we’ll prepare an add-on quote for additional seats.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can I purchase support for a lower number of seats than quoted?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p No. If you choose to purchase our discounted Education support, you must purchase it for all seats.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Who gets counted in the subscription?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Please see our <a href="/pricing/licensing-faq/#who-gets-counted-in-the-subscription">licensing and subscription FAQ</a> for the detailed explanation.
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can we run multiple self-hosted instances with the same license key?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Yes. It is possible to activate multiple self-hosted instances with the same license key.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                How can I manage the visibility of our projects?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you're a member of the parent group in GitLab, you automatically have access to all descendants - GitLab doesn't support having the subgroup be more restrictive than its parent. However, being a part of a subgroup does not grant you access to the parent group.
                %p The best way to do this is to make everyone a member of their respective subgroup having only admins in the top level group.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can students use our GitLab instance after they graduate?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p GitLab Education licenses are issued to the educational institution directly. Therefore, students will need to purchase their own license if they are no longer provided access by their institution.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Where are GitLab's servers located?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p We don’t have regional/configurable storage. All of our GitLab.com data is stored in the US.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                How are concurrent sessions counted?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p GitLab counts concurrent seats and not named users. If a user is logged in from multiple devices, each device will count as a seat.<a href="/pricing/licensing-faq/#who-gets-counted-in-the-subscription"> See licensing FAQs.</a>
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Is it possible to authenticate users via LDAP over SSL?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p It is possible only on our self-hosted Ultimate version. The server doesn't strictly need a static IP, as a DNS name can be used for the LDAP server.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                What are common migration paths with GitLab?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p
                  = link_to "From self-hosted GitLab to GitLab.com", "/terms/#edu-oss"
                %p
                  = link_to "Upgrading from Community Edition to Enterprise Edition", "/terms/#edu-oss"
                %p
                  = link_to "Downgrading from Enterprise Edition to Community Edition", "/terms/#edu-oss"
